node_modules
startAxelarGmp.js
startAxelarGmp-plan.json
startAxelarGmp-permit.json
tmp
offer.json

eval-register-interchain-bank-assets-permit.json
eval-register-interchain-bank-assets-plan.json
eval-register-interchain-bank-assets.js

bundles/
dist/

.env

# Hardhat files
cache
artifacts

# TypeChain files
typechain
typechain-types

# solidity-coverage files
coverage
coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments
.qodo
